__pycache__


.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/


.venv/
venv/
env/
ENV/


node_modules/
dist/
build/
.vite/


*.log
logs/


.idea/
.vscode/


*.pid
*.sock

.env
.env.*
!.env.example

*.zip
*.tar
*.tar.gz

tmp/
temp/
.cache/